body, tr {
    font-family: sans-serif;
    border: solid;
    margin: 20px;
    padding: 20px;

}
td, tr, th, div {
    border: none;
    border-bottom: ridge;
}
 div {
    border: ridge;
    padding-bottom: 15px;
}



}
h1.center {
  align="center";
}
