{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'orders/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'orders/styles.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">.
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body class="col-12">
      <div id="header">
      <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
          <tr>
            <td class="green" width="20%">&nbsp;</td>
            <td width="60%">
              <h1>Marko's Pizza &amp; Subs</h1>
              <h2>Developers Street<br>
              GitHub Square<br>
              369-248-321</h2>
            </td>
            <td class="red" width="20%">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
