{% extends "orders/base.html" %}

{% block title %}
    Shopping Card
{% endblock %}

{% block body %}
    <span>
        <a href="{% url 'index' %}">Index</a>
        <a href="{% url 'menu' %}">Menu</a>
        <a href="{% url 'orders' %}">Orders</a>
        <a href="{% url 'logout' %}">Logout</a>
    </span>
    <h1>My Items:</h1>
    <h2>Pizza</h2>
    <ul>
      {% for pizza in pizzas %}
          <li>
            <a href="{% url 'food' pizza.id %}">
                {{ pizza }}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h3>Subtotal: {{ pizzaSubtotal }}</h3>
    <h2>Toppings</h2>
    <ul>
      {% for topping in toppings %}
          <li>
            <a href="{% url 'food' topping.id %}">
              {{topping}}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h3>Subtotal: {{ toppingSubtotal }}</h3>
    <h2>Subs</h2>
    <ul>
      {% for sub in subs %}
          <li>
            <a href="{% url 'food' sub.id %}">
              {{ sub }}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h3>Subtotal: {{ subSubtotal }}</h3>
    <h2>Pasta</h2>
    <ul>
      {% for pasta in pastas %}
          <li>
            <a href="{% url 'food' pasta.id %}">
              {{ pasta }}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h3>Subtotal: {{ pastaSubtotal }}</h3>
    <h2>Salads</h2>
    <ul>
      {% for salad in salads %}
          <li>
            <a href="{% url 'food' salad.id %}">
              {{ salad }}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h3>Subtotal: {{ saladSubtotal }}</h3>
    <h2>Dinner Platters</h2>
    <ul>
      {% for platter in platters %}
          <li>
            <a href="{% url 'food' platter.id %}">
              {{ platter }}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h3>Subtotal: {{ platterSubtotal }}</h3>
    <h2>Total: {{ total }}</h2>


{% endblock %}
