{% extends "orders/base.html" %}

{% block title %}
    Food {{ Food.id }}
{% endblock %}

{% block body %}
    <h1>{{ food }}
      {% if food.pizza %}
        Pizza
      {% endif %}
    </h1>
    <ul>
        <li>Food ID: {{ food.id }}</li>
        <li>Name: {{ food.name }}</li>
        <li>Price:  {{ food.price }}</li>
        <li>Quantity:  {{ food.quantity }}</li>
        <li>Special Instructions:  {{ food.specialInstructions }}</li>
        {% if food.pizza %}
          <li>Size:  {{ food.pizza.size }}</li>
        {% endif %}
        {% if food.sub %}
          <li>Size:  {{ food.sub.size }}</li>
        {% endif %}
        {% if food.topping %}
          <li>Side:  {{ food.topping.side }}</li>
        {% endif %}

    </ul>
    <br>
    <h2>Submit an Order</h2>
    <h3>{{ food.name }}
      {% if food.pizza %}
        Pizza
      {% endif %}
    </h3>
    <h4>Toppings:</h4>
        {% if food.pizza %}
          <form action="{% url 'order' food.id %}" method="post">
              {% csrf_token %}
              {% for topping in allToppings %}
                <input type="checkbox" value="{{ topping.id }}" name="topping">{{ topping.name }}<br>
              {% endfor %}
               <br>
               <h4>Size:</h4>
               {% for pizza in pizzas %}
                 <input type="checkbox" value="{{ pizza.size }}" name="size">{{ pizza.size }}<br>
               {% endfor %}
               <br><br><br>
               <label>Quantity:</laber>
               <input type="number" name="quantity">
               <br><br><br>
               <input type="submit" value="Order Food" />
          </form>
          <br>

        {% endif %}
        <br><br>
        <a href="{% url 'menu' %}">Back to the menu.</a>
{% endblock %}
