{% extends "orders/base.html" %}

{% block title %}
    Food {{ Food.id }}
{% endblock %}

{% block body %}
    <span>
      <a href="{% url 'index' %}">Index</a>
      <a href="{% url 'menu' %}">Menu</a>
      <a href="{% url 'orders' %}">Orders</a>
      <a href="{% url 'card' user.id %}">Shopping Card</a>
      <a href="{% url 'logout' %}">Logout</a>
    </span>
    <h1>{{ food }}
      {% if food.pizza %}
        Pizza
      {% endif %}
    </h1>
    <ul>

        <li>Food ID: {{ food.id }}</li>
        <li>Name: {{ food.name }}</li>

        {% if food.sub %}
          <li>Size:  {{ food.sub.size }}</li>
        {% endif %}
        {% if food.topping %}
          <li>Side:  {{ food.topping.side }}</li>
        {% endif %}

    </ul>
    <br>
    <h2>Submit an Order</h2>
    <h3>{{ food.name }}
      {% if food.pizza %}
        Pizza
      {% endif %}
    </h3>
          <form action="{% url 'order' food.id %}" method="post">
              {% csrf_token %}
              {% if food.pizza %}
          <h4>Toppings - whole pizza:</h4>
              {% for topping in allToppings %}
              {% if topping.side == "whole" %}
                <input type="checkbox" value="{{ topping.id }}" name="topping-whole">{{ topping.name }}<br>
               <br>
               {% endif %}
               {% endfor %}
         <h4>Toppings - left side:</h4>
             {% for topping in allToppings %}
             {% if topping.side == "left" %}
               <input type="checkbox" value="{{ topping.id }}" name="topping-left">{{ topping.name }}<br>
               <br>
               {% endif %}
               {% endfor %}
        <h4>Toppings - right side:</h4>
            {% for topping in allToppings %}
            {% if topping.side == "right" %}
              <input type="checkbox" value="{{ topping.id }}" name="topping-right">{{ topping.name }}<br>
              <br>
              {% endif %}
              {% endfor %}
            {% endif %}

            {% if food.pasta %}
        <h4>Subs:</h4>
            {% for sub in subs %}
              <input type="checkbox" value="{{ sub.id }}" name="sub1">{{ sub.name }}, {{ sub.size }}<br>
             {% endfor %}
             <br>
             {% endif %}


            {% if food.sub or food.pizza or food.platter %}
       <h4>Size:</h4>
             <input type="checkbox" value="small" name="size">small<br>
             <input type="checkbox" value="large" name="size">large<br>
           <br><br><br>
           {% endif %}
           {% if food.topping %}
       <h4>Side:</h4>
               <input type="checkbox" value="whole" name="side">whole<br>
               <input type="checkbox" value="left" name="side">left<br>
               <input type="checkbox" value="right" name="side">right<br>
          <br><br>
          {% endif %}
       <h4>Special Instructions:</h4>
               <textarea  type="text" value="{{ food.specialInstructions }}" name="specialInstructions"></textarea>
               <br><br><br>
       <h4>Quantity:</h4>
               <input type="number" name="quantity" value=1>
               <br><br><br>
               <input type="submit" value="Add to Shopping Card" />
          </form>
          <br><br><br>
        <a href="{% url 'menu' %}">Back to the menu.</a>
{% endblock %}
