{% extends "orders/base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <span>
      <a href="{% url 'menu' %}"  class="col-3">Menu</a>
      <a href="{% url 'orders' %}" class="col-3">Orders</a>
      <a href="{% url 'card' user.id %} " class="col-3">Shopping Card</a>
      <a href="{% url 'logout' %}" class="col-3">Logout</a>
    </span>
    <div class="index">


      <h1>Hello, <a href="{% url 'card' user.id %}">{{ user.first_name }}</a></h1>
      <h2>Currently logged in as: {{ user.username }}</h2>
      <h3>Would you like to order something? Proceed to our Menu page!</h3>
    </div>
{% endblock %}
