{% extends "orders/base.html" %}

{% block title %}
    {{ food }}
{% endblock %}

{% block body %}
    <span>
      <a href="{% url 'index' %}" class="col-3">Index</a>
      <a href="{% url 'menu' %}"  class="col-3">Menu</a>
      <a href="{% url 'v2menu' %}"  class="col-3">itemMenu</a>
      <a href="{% url 'orders' %}" class="col-3">Orders</a>
      <a href="{% url 'card' user.id %} " class="col-3">Shopping Card</a>
      <a href="{% url 'logout' %}" class="col-3">Logout</a>
    </span>
    <br/><br/>
    <div class="pic-food">
      <!-- <div class="box"> -->
        <div class="col-12" class="center">
          <div class="food">



              {% if item %}
              <div>
                <form action="{% url 'addItem' item.id %}" method="post">
                  {% csrf_token %}
                  <!-- <table> -->
                    {{ itemForm.as_p }}
                  <!-- </table> -->
                  <input type="submit" value="Add Item to Shopping Card"/>
                </form>
              </div>
             <br><br>
             <a href="{% url 'menu' %}">Back to the menu.</a>
             {% endif %}

          </div>
        </div>
      <!-- </div> -->
    </div>
{% endblock %}
