{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
<span class="col-12">
  <a href="{% url 'index' %}" class="col-3">Index</a>
  <a href="{% url 'orders' %}" class="col-3">Orders</a>
  <a href="{% url 'card' user.id %} " class="col-3">Shopping Card</a>
  <a href="{% url 'logout' %}" class="col-3">Logout</a>
</span>
<br/>
<br/>
<div class="pic">
  <!-- <div class="box"> -->
    <div class="col-12" class="center">
        <h1 class="col-12" align="center">Our Menu</h1>

        <br/>
        <h2 class="col-12" align="center">Items</h2>
        <br/>
        <table align="center">
          <tr class="col-12" align="center">
            <th class="col-4" align="center">Item</th>
            <th class="col-4" align="center">Small</th>
            <th class="col-4" align="center">Large</th>

          {% for item in items %}


                <tr class="col-12" align="center">
                  <td class="col-4" align="center"><a href="{% url 'item' item.id %}">{{ item.getName }}</a></td>
                  <td class="col-4" align="center">{{ item.smallPrice }}</td>
                  <td class="col-4" align="center">{{ item.largePrice }}</td>

                  <!-- <td><button type="button" data-toggle="modal" data-target="#myModal" href="{% url 'item' item.id %}">Card</button></td> -->
                </tr>
          {% endfor %}
          </table>
          <br/><br/>
    </div>
  <!-- </div> -->
</div>
<!-- ------------------------MODAL------------------------------------- -->

<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title"></h3>
        <button data-dismiss="modal"></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
{% endblock %}
