{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <span>
      <a href="{% url 'index' %}">Index</a>
      <a href="{% url 'orders' %}">Orders</a>
      <a href="{% url 'card' user.id %}">Shopping Card</a>
      <a href="{% url 'logout' %}">Logout</a>
    </span>

    <h1>Our Menu</h1>
    <h2>
      <a href="{% url 'food' 41 %}">
        Regular Cheese Pizza
      </a>
    </h2>

  <tr>
    <th>Food</th>
    <th>Small</th>
    <th>Large</th>
  </tr>
  <br/>
  <tr>
    <td>Cheese</td>
    <td>12.20</td>
    <td>17.45</td>
  </tr>
  <br/>
  <tr>
    <td>1 topping</td>
    <td>13.20</td>
    <td>19.45</td>
  </tr>
  <br/>
  <tr>
    <td>2 toppings</td>
    <td>14.70</td>
    <td>21.45</td>
  </tr>
  <br/>
  <tr>
    <td>3 toppings</td>
    <td>15.70</td>
    <td>23.45</td>
  </tr>
  <br/>
  <tr>
    <td>Special</td>
    <td>17.25</td>
    <td>25.45</td>
  </tr>
  <h2>
    <a href="{% url 'food' 42 %}">
      Sicilian Cheese Pizza
    </a>
  </h2>

  <tr>
    <th>Food</th>
    <th>Small</th>
    <th>Large</th>
  </tr>
  <br/>
  <tr>
    <td>Cheese</td>
    <td>23.75</td>
    <td>37.70</td>
  </tr>
  <br/>
  <tr>
    <td>1 topping</td>
    <td>25.45</td>
    <td>39.70</td>
  </tr>
  <br/>
  <tr>
    <td>2 toppings</td>
    <td>27.45</td>
    <td>41.70</td>
  </tr>
  <br/>
  <tr>
    <td>3 toppings</td>
    <td>28.45</td>
    <td>43.70</td>
  </tr>
  <br/>
  <tr>
    <td>Special</td>
    <td>29.45</td>
    <td>44.70</td>
  </tr>
  <ul>
    <h2>Toppings</h2>
    <ul>
      {% for topping in toppings %}
      {% if topping.side == "whole" %}
          <li>
            <a href="{% url 'food' topping.id %}">
              {{ topping.name }}
            </a>
          </li>
      {% endif %}
      {% endfor %}
    </ul>
    <h2>Subs</h2>
    <tr>
      <th>Food</th>
      <th>Small</th>
      <th>Large</th>
    </tr>
    <br/>
    <tr>
      {% for sub in subs %}
        <a href="{% url 'food' sub.id %}">
          <span>
            {% if sub.size == "small" %}
              <td>{{ sub.name }}</td>
              <td>{{ sub.price }}</td>
            {% endif %}
            {% if sub.size == "large" %}
              <td>{{ sub.price }}</td>
            {% endif %}
          </span>
          <br/>
        </a>

      {% endfor %}
    </tr>
    <br/>
    <h2>Pasta</h2>
    <ul>
      {% for pasta in pastas %}
          <li>
            <a href="{% url 'food' pasta.id %}">
              {{ pasta.name }}, with {{ pasta.sub1.name }}, {{ pasta.price }} eur
            </a>
          </li>
      {% endfor %}
    </ul>
    <h2>Salads</h2>
    <ul>
      {% for salad in salads %}
          <li>
            <a href="{% url 'food' salad.id %}">
              {{ salad.name }}, {{ salad.price }} eur
            </a>
          </li>
      {% endfor %}
    </ul>
    <h2>Dinner Platters</h2>
    <ul>
      {% for platter in platters %}
          <li>
            <a href="{% url 'food' platter.id %}">
              {{ platter.name }}, {{ platter.size }}, {{ platter.price }} eur
            </a>
          </li>
      {% endfor %}
    </ul>
{% endblock %}
