{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
<span class="col-12">
  <a href="{% url 'index' %}" class="col-3">Index</a>
  <a href="{% url 'orders' %}" class="col-3">Orders</a>
  <a href="{% url 'card' user.id %} " class="col-3">Shopping Card</a>
  <a href="{% url 'logout' %}" class="col-3">Logout</a>
</span>
<div class="col-6">
        <h1 class="col-12" align="center">Our Menu</h1>
        {% for pizza in pizzas %}
        <h2 class="col-12" align="center" >
          <a href="{% url 'food' pizza.id %}" class="col-12">
            {{ pizza.name }} Pizza
          </a>
        </h2>
        <table align="center">
          <tr class="col-12">
            <th class="col-4">Food</th>
            <th class="col-4">Small</th>
            <th class="col-4">Large</th>
          </tr>
        </table>
        <br/>
        <table align="center">
          <tr class="col-12">
            <td class="col-4">Cheese</td>
            <td class="col-4">{{ pizza.priceSmall }}</td>
            <td class="col-4">{{ pizza.priceLarge }}</td>
          </tr>
        </table>
        <br/>
        <table align="center">
          <tr class="col-12">
            <td class="col-4">1 topping</td>
            <td class="col-4">{{ pizza.get_priceSmallT1 }}</td>
            <td class="col-4">{{ pizza.get_priceLargeT1 }}</td>
          </tr>
        </table>
        <br/>
        <table align="center">
          <tr class="col-12">
            <td class="col-4">2 toppings</td>
            <td class="col-4">{{ pizza.get_priceSmallT2 }}</td>
            <td class="col-4">{{ pizza.get_priceLargeT2 }}</td>
          </tr>
        </table>
        <br/>
        <table align="center">
          <tr class="col-12">
            <td class="col-4">3 toppings</td>
            <td class="col-4">{{ pizza.get_priceSmallT3 }}</td>
            <td class="col-4">{{ pizza.get_priceLargeT3 }}</td>
          </tr>
        </table>
        <br/>
        <table align="center">
          <tr class="col-12">
            <td>Special</td>
            <td class="col-4">{{ pizza.get_SIpriceSmall }}</td>
            <td class="col-4">{{ pizza.get_SIpriceLarge }}</td>
          </tr>
        </table>
        {% endfor %}



    <h2>Toppings</h2>
    {% for topping in toppings %}
    {% if topping.side == "whole" %}
      <tr>
        <td>
          <a href="{% url 'food' topping.id %}">
            {{ topping.name }}
          </a>
          <br>
        </td>
      </tr>
    {% endif %}
    {% endfor %}
    <h2>Subs</h2>
    <tr>
      <th>Food</th>
      <th>Small</th>
      <th>Large</th>
    </tr>
    <br/>
    <tr>
      {% for sub in subs %}
            <a href="{% url 'food' sub.id %}">
                <tr>
                  <td>{{ sub.name }}</td>
                  <td>{{ sub.priceSmall }}</td>
                  <td>{{ sub.priceLarge }}</td>
                </tr>
            </a>
            <br>
      {% endfor %}
    </tr>
    <br/>
    <h2>Pasta</h2>
    <tr>
      <th>Food</th>
      <th>Price</th>
      <!-- <th>Large</th> -->
    </tr>
    <br/>
      {% for pasta in pastas %}
        <a href="{% url 'food' pasta.id %}">
            <tr>
              <td>{{ pasta.name }} with {{ pasta.sub1.name }}</td>
              <td>{{ pasta.priceSmall }}</td>
              <!-- <td>{{ pasta.priceLarge }}</td> -->
            </tr>
        </a>
        <br>
      {% endfor %}
    <h2>Salads</h2>
    <tr>
      <th>Food</th>
      <th>Price</th>
      <!-- <th>Large</th> -->
    </tr>
    <br/>
      {% for salad in salads %}
        <a href="{% url 'food' salad.id %}">
            <tr>
              <td>{{ salad.name }}</td>
              <td>{{ salad.priceSmall }}</td>
              <!-- <td>{{ pasta.priceLarge }}</td> -->
            </tr>
        </a>
        <br>
      {% endfor %}

    <h2>Dinner Platters</h2>
    <tr>
      <th>Food</th>
      <th>Small</th>
      <th>Large</th>
    </tr>
    <br/>
      {% for platter in platters %}
      <a href="{% url 'food' platter.id %}">
          <tr>
            <td>{{ platter.name }}</td>
            <td>{{ platter.priceSmall }}</td>
            <td>{{ platter.priceLarge }}</td>
          </tr>
      </a>
      <br>

      {% endfor %}
</div>
{% endblock %}
