{% extends "orders/base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
    <span>
      <a href="{% url 'index' %}">Index</a>
      <a href="{% url 'orders' %}">Orders</a>
      <a href="{% url 'card' user.id %}">Shopping Card</a>
      <a href="{% url 'logout' %}">Logout</a>
    </span>
<div class="">
        <h1>Our Menu</h1>
        {% for pizza in pizzas %}
        <h2>
          <a href="{% url 'food' pizza.id %}">
            {{ pizza.name }} Pizza
          </a>
        </h2>
        <tr>
          <th>Food</th>
          <th>Small</th>
          <th>Large</th>
        </tr>
        <br/>
        <tr>
          <td>Cheese</td>
          <td>{{ pizza.priceSmall }}</td>
          <td>{{ pizza.priceLarge }}</td>
        </tr>
        <br/>
        <tr>
          <td>1 topping</td>
          <td>{{ pizza.priceSmall }}</td>
          <td>19.45</td>
        </tr>
        <br/>
        <tr>
          <td>2 toppings</td>
          <td>14.70</td>
          <td>21.45</td>
        </tr>
        <br/>
        <tr>
          <td>3 toppings</td>
          <td>15.70</td>
          <td>23.45</td>
        </tr>
        <br/>
        <tr>
          <td>Special</td>
          <td>17.25</td>
          <td>25.45</td>
        </tr>
        {% endfor %}

</div>

    <h2>Toppings</h2>
    {% for topping in toppings %}
    {% if topping.side == "whole" %}
      <tr>
        <td>
          <a href="{% url 'food' topping.id %}">
            {{ topping.name }}
          </a>
          <br>
        </td>
      </tr>
    {% endif %}
    {% endfor %}
    <h2>Subs</h2>
    <tr>
      <th>Food</th>
      <th>Small</th>
      <th>Large</th>
    </tr>
    <br/>
    <tr>
      {% for sub in subs %}
            <a href="{% url 'food' sub.id %}">
                <tr>
                  <td>{{ sub.name }}</td>
                  <td>{{ sub.priceSmall }}</td>
                  <td>{{ sub.priceLarge }}</td>
                </tr>
            </a>
            <br>
      {% endfor %}
    </tr>
    <br/>
    <h2>Pasta</h2>
    <tr>
      <th>Food</th>
      <th>Price</th>
      <!-- <th>Large</th> -->
    </tr>
    <br/>
      {% for pasta in pastas %}
        <a href="{% url 'food' pasta.id %}">
            <tr>
              <td>{{ pasta.name }} with {{ pasta.sub1.name }}</td>
              <td>{{ pasta.priceSmall }}</td>
              <!-- <td>{{ pasta.priceLarge }}</td> -->
            </tr>
        </a>
        <br>
      {% endfor %}
    <h2>Salads</h2>
    <tr>
      <th>Food</th>
      <th>Price</th>
      <!-- <th>Large</th> -->
    </tr>
    <br/>
      {% for salad in salads %}
        <a href="{% url 'food' salad.id %}">
            <tr>
              <td>{{ salad.name }}</td>
              <td>{{ salad.priceSmall }}</td>
              <!-- <td>{{ pasta.priceLarge }}</td> -->
            </tr>
        </a>
        <br>
      {% endfor %}

    <h2>Dinner Platters</h2>
    <tr>
      <th>Food</th>
      <th>Small</th>
      <th>Large</th>
    </tr>
    <br/>
      {% for platter in platters %}
      <a href="{% url 'food' platter.id %}">
          <tr>
            <td>{{ platter.name }}</td>
            <td>{{ platter.priceSmall }}</td>
            <td>{{ platter.priceLarge }}</td>
          </tr>
      </a>
      <br>
      {% endfor %}
{% endblock %}
