{% extends "orders/base.html" %}

{% block title %}
    Orders
{% endblock %}

{% block body %}
    <span>
      <a href="{% url 'index' %}">Index</a>
      <a href="{% url 'menu' %}">Menu</a>
      <a href="{% url 'card' user.id %}">Shopping Card</a>
      <a href="{% url 'logout' %}">Logout</a>
    </span>

    <h1>Received Orders</h1>
    <h2>Pizza</h2>
    <ul>
      {% for pizza in pizzas %}
          <li>
            <a href="{% url 'food' pizza.id %}">
                {{ pizza }}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h2>Toppings</h2>
    <ul>
      {% for topping in toppings %}
          <li>
            <a href="{% url 'food' topping.id %}">
              {{topping}}
            </a>
          </li>
      {% endfor %}
    </ul>
    <h2>Subs</h2>
    <ul>
      {% for sub in subs %}
        {% if sub.size == 'small' %}
            <li>
              <a href="{% url 'food' sub.id %}">
                {{ sub.name }}, {{ sub.size }}, special instructions: {{sub.specialInstructions}}, quantity: {{sub.quantity}}, {{ sub.priceSmall }} eur
              </a>
            </li>
        {% endif %}
        {% if sub.size == 'large' %}
            <li>
              <a href="{% url 'food' sub.id %}">
                {{ sub.name }}, {{ sub.size }}, special instructions: {{sub.specialInstructions}}, quantity: {{sub.quantity}}, {{ sub.priceLarge }} eur
              </a>
            </li>
        {% endif %}
      {% endfor %}
    </ul>
    <h2>Pasta</h2>
    <ul>
      {% for pasta in pastas %}
          <li>
            <a href="{% url 'food' pasta.id %}">
              {{ pasta.name }}, with {{ pasta.sub1.name }}, special instructions: {{pasta.specialInstructions}}, quantity: {{pasta.quantity}}, {{ pasta.priceSmall }} eur
            </a>
          </li>
      {% endfor %}
    </ul>
    <h2>Salads</h2>
    <ul>
      {% for salad in salads %}
          <li>
            <a href="{% url 'food' salad.id %}">
              {{ salad.name }}, special instructions: {{salad.specialInstructions}}, quantity: {{salad.quantity}},{{ salad.priceSmall }} eur
            </a>
          </li>
      {% endfor %}
    </ul>
    <h2>Dinner Platters</h2>
    <ul>
      {% for platter in platters %}
        {% if platter.size == 'small' %}
          <li>
            <a href="{% url 'food' platter.id %}">
              {{ platter.name }}, {{ platter.size }}, special instructions: {{platter.specialInstructions}}, quantity: {{platter.quantity}}, {{ platter.priceSmall }} eur
            </a>
          </li>
          {% endif %}
          {% if platter.size == 'large' %}
            <li>
              <a href="{% url 'food' platter.id %}">
                {{ platter.name }}, {{ platter.size }}, special instructions: {{platter.specialInstructions}}, quantity: {{platter.quantity}}, {{ platter.priceLarge }} eur
              </a>
            </li>
          {% endif %}
      {% endfor %}
    </ul>

{% endblock %}
